#eZovTcRQJrz {
    position: relative;
    overflow: hidden;
}
#eZovTcRQJrz:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000091;
}